<p id="notice"><%= notice %></p>

<iframe src="https://appear.in/half-up-front/<%= @job.id %>" width="400" height="480" frameborder="0"></iframe>

<!--<div class="chat">-->
<!--<div class="messagelist">-->

<!--</div>-->
<!--<form>-->
<!--<input />-->
<!--</form>-->
<!--</div>-->

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

**THIS WILL SHOW A JOB**