<p id="notice"><%= notice %></p>

<iframe src="https://appear.in/your-room-name" width="400" height="480" frameborder="0"></iframe>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

**THIS WILL SHOW A JOB**