<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <%= image_tag 'profile_avatar', id: "logo", alt: "logo", height: '80px' %>
          </div>
          <div class="col-sm-6 col-md-8">
            <h4>
              April</h4>
            <small><cite title="Vancouver,Canada">Vancouver,Canada<i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i>email@example.com
              <br/>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Social</span>
              </button>
              <p id="portext">Portfolio</p>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Twitter</a></li>
                <li><a href="https:www.google.com">Google +</a></li>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="www.github.com">Github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
