

div.col-md-4 {
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
  display: block;
}

div.col-md-4:hover {
  border: 2px solid #062b93;
  color: #062b93;
}

div.col-md-4.glyphicon:hover {
  color: red;
}

h2.jedit {
  text-align: center;
  text-decoration: underline;
  margin-top: 25px;
  margin-bottom: 15px;
}

body.new-job {
  margin-left: 300px;
  margin-right: 300px;
  height: 2000px;
}

.new-job {
  label {

    &.active {
      border: 2px solid #062b93;
      color: #062b93;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    }

    &:hover {
      color: #062b93;
      border: 2px solid #062b93;
    }

    &.hovered {
      color: #062b93;
      border: 2px solid #062b93;
    }

    .glyphicon {
      text-align: center;
      margin-top: 50px;
      font-size: 25px;
    }

    input[type="radio"] {
      visibility: hidden;
    }

    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 150px;
    text-align: center;
  }

  input {
    width: 50%;
  }

  input#brief:focus {
    border: 2px solid #062b93;
  }

  input#brief:hover {
    border: 2px solid #062b93;
  }

  input#jobtype:hover {
    border: 2px solid #062b93;
  }

  input#jobtype:hover {
    border: 2px solid #062b93;
  }

}

.textType {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

span.input-group-btn {
  float: right;
  margin: 0;
  padding-bottom: 100px;
}

.btn-success {
  float: right;
}

input[type="checkbox"] {
  visibility: hidden;
}

textarea#Message {
  width: 60%;
}

.submitJob {
  padding-left: 35%;
  margin-bottom: 25px;
  margin-top: 10px;

}

.submitJob input {
  background-color: #61d961;
  font-color: white;
  border: 3px solid grey;
}

#messages {
  height: 300px;
  width: 400px;
  overflow: scroll;
  border: 1px solid #ddd
}

#chat-input {
  width: 400px
}

.milestone {
  background-color: #e8e8e8;
  display: inline-block;
  width: 250px;
  border: 2px solid #4ca6f3;
  border-radius: 10px;
  vertical-align: top;
  margin-left: 20px;
  padding: 5px;
  white-space: normal;
  font-family: avenir;
}

.delete-milestone-btn {
  background-color: #ececec;
  float: right;
  border-radius: 25px;
  border: 1px solid gray;
  font-size: 10px;
}

.delete-milestone-btn:hover {
  background-color: #ed6565;
}

.save-milestone-btn {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 10px;
  background-color: #ececec;
}

.save-milestone-btn:hover {
  background-color: #9b9393;
}

.req-btn {
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 8px;
  float: right;
  background-color: #ececec;
}

.requirement {
  width: 240px;
  border-top: 1px solid black;
  margin-top: 5px;
}

#allMilestones {

  display: inline;
  margin-right: 10px;
  padding-top: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 170px;
  // background-color:
}

section.addexamples {
  text-align: center;
}

section.summary {
  text-align: center;
}

section.textType {
  text-align: center;
}

.appearin {
  float: left;
  height: 100%;
  position: fixed;
  z-index: 99999;
  border-right: 10px solid gray;
}

.welcomeuser {
  margin-left: 480px;
  font-size: 80px;
  background-color: white;
}

#new-milestone-btn {
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid gray;
  background-color: #61D961;

}

.body {
  background-color: #C6E2FF;
  border-radius: 5px;
}

dt {
  font-weight: bold;
}

#huflogo {
  float: right;
  margin-right: 10px;
  margin-top: 50px;
}
.new-job input {
  border-radius: 5px;
}

textarea#jobs_job_details {
  border-radius: 10px;
}

.background {
  background-color: #c7e1f0;
  border:2px solid black;
}

label.check-btn {
  background-color: white;
}

label.radio-btn {
  background-color: white;

}

p {
  font-weight: bold;
}

dd.job-budget-freelancer-editable {
  width: 100px;
}

.job-budget-container {
  border: 5px solid gray;
}

.huf-container {
  border: 5px solid gray;
  width: 34%;
  height: 150px;
  background-color: white;
}
.allBudget {
  display: inline;
  margin: 0px;
  font-family: avenir;
}

.job-budget-container {
  width: 33%;
  margin: auto;
  height: 150px;
  background-color: white;
}
.navbar-fixed-bottom {
  margin-left: 400px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}
.button-container {
  width: 33%;
  border: 5px solid gray;
  height: 150px;
  padding: 0px;
}

.huf-budget {
  font-size: 50px;
}

#save-job {
  border: 3px solid gray;
  background-color: #61D961;
  width: 100%;
  height: 30%;
}

#save-job:hover {
background-color: gray;
}
#submit-job {
  border: 3px solid gray;
  background-color: #61D961;
  width: 100%;
  height: 70%;
}

#submit-job:hover {
  background-color: green;
}

.fa-arrow-up {
  color: green;
  font-size: 20px;
  margin-right: 5px;
}

.fa-arrow-down {
  color: green;
  font-size: 20px;
}
.payment-percentage {
  width: 80px;
}


#jobdownarrow {
  font-size: 50px;
}

#jobuparrow {
  font-size: 50px;
}

.allarrows {
  float: left;
}

.arrowjobbudget {
  float:left;
  margin-left: 15px;
}

#arrowjobbudget {
  font-size: 50px;
}

#jobbudget {
  text-align: center;
}

#halfbudget {
  text-align: center;
}

#save-job:hover {
background-color: orange;
}
