// div.title {
//   display: block;
//   border-width: 2px;
//   border-style: solid;
//   border-color: black;
//   width: 200px;
//   height: 48px;
// }

// div.details {
//   display: block;
//   border-width: 2px;
//   border-style: solid;
//   border-color: black;
//   width: 200px;
//   height: 200px;
// }
div.milestone {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 300px;
  height: auto;
}
div.requirement {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 300px;
  height: auto;
}