// Place all the styles related to the Livedoc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.title {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 48px;
}

div.details {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 200px;
}