// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
        font-family: 'Alcubierre';
        src: font-url('Alcubirre.otf');
}


html, body {
        margin: 0;
        height: 100%;
}


nav {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 2;
}


body.homepage {

  #paralax-container {
    background: black;
    min-height: 500px;
    overflow: hidden;
    position: relative;
  }

  #image {
    background: no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

img#logo {
    float:right;
}

  div#title {
    border: 5px solid white;
    left: 52.5%;
    position: absolute;
    text-align: center;
    top: 175px;
    transform: translate(-50%);
    width: 950px;

  }

  h1.homepage {
    color: white;
    font-family: 'Alcubierre';
    font-size: 100px;
    letter-spacing: 5px;
    line-height: 1;
    text-align: center;
  }

  p.homepage {
    color: white;
    font-family: 'Alcubierre';
    font-size: 50px;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
  }

  #valuestory {
    height: 1000px;
    width: 100%;
    margin-top: -10px;
    background-color: #062b93;
    background-image: -webkit-linear-gradient(top left, #242366, #3c7cab);
    background-image: -o-linear-gradient(top left, #242366, #3c7cab);
    background-image: linear-gradient(to bottom right, #242366, #3c7cab);;

    position: relative;
    z-index: 1;
    padding-top: 50px;
  }

  #employer {
    z-index: 3;
  }

  #freelancer {
    z-index: 3;
  }

  .avatar {
    margin: 0 auto;
    display: block;
  }

  .avatar-details {
    text-align: center;
    color: white;
    padding-top: 15px;
  }

  h2.Employer {
    font-family: 'Alcubierre';
    color: white;
    z-index: -5;
    letter-spacing: 2px;

  }

  h2.Freddy {
    font-family: 'Alcubierre';
    color: white;
    z-index: -5;
    letter-spacing: 2px;
  }

  p.details {
    font-family: 'Alcubierre';
    color: white;
    font-size: 20px;
    letter-spacing: 2px;

  }

  #login-section {
    height: 750px;
    width: 100%;
    margin-top: -10px;
    background-color: #062b93;
    background-image: -webkit-linear-gradient(top left, #242366, #3c7cab);
    background-image: -o-linear-gradient(top left, #242366, #3c7cab);
    background-image: linear-gradient(to bottom right, #242366, #3c7cab);;

    position: relative;
    z-index: 1;
    padding-top: 50px;
  }

  .btn-success {
    margin-top: 300px;
    margin-left: 750px;
    padding: 50px;
  }
}

#login-section {
    height: 1500px;
    width: 100%;
    margin-top: -10px;
    background-color: #062b93;
    background-image:
            -webkit-linear-gradient(top left, #242366, #3c7cab);
    background-image:
            -o-linear-gradient(top left, #242366, #3c7cab);
    background-image:
            linear-gradient(to bottom right, #242366, #3c7cab);;

    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.corral {
    margin: 0 auto;
    width: 460px;
}

.contentContainer {
    position: relative;
    margin: 130px auto 0;
    padding: 30px 10% 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #D3D3D3;
    border: 2px solid #000000;
}

.textInput input, .textInput textarea {
    height: 44px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9da3a6;
    background: #fff;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 1em;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    direction: ltr;
}
.textInput {
    position: relative;
    margin: 0 0 10px;
}
.textInput .fieldLabel {
    position: absolute;
    color: #6c7378;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.button:hover, a.button:link:hover, a.button:visited:hover, .button:hover {
    background-color: #005ea6;
    outline: 0;
}
a.button, a.button:link, a.button:visited, .button {
    width: 100%;
    height: 44px;
    padding: 0;
    border: 0;
    display: block;
    background-color: #0070ba;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    -webkit-font-smoothing: antialiased;
}

.actionsSpaced {
    margin-top: 30px;
}

.fieldWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
}

.forgotLink {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #cbd2d6;
    text-align: center;
}

a.button.secondary, a.button.secondary:link, a.button.secondary:visited, .button.secondary {
    background-color: #E1E7EB;
    color: #2C2E2F;
}
a.button, a.button:link, a.button:visited {
    padding-top: 11px;
}

a, a:link, a:visited {
    color: #0070ba;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.paypaylogo {
    padding-bottom: 20px;
}

