body {
  height: 1250px;
  width: 100%;
  margin-top: -10px;
  background-color: #062b93;
  background-image:
          -webkit-linear-gradient(top left, #242366, #3c7cab);
  background-image:
          -o-linear-gradient(top left, #242366, #3c7cab);
  background-image:
          linear-gradient(to bottom right, #242366, #3c7cab);;

  position: relative;
  z-index: 1;
}


header {
  color: blue;
  font-family: 'Yanone Kaffeesatz';
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0 0 15 0;
}

.personal {
  display: block;
  text-align: center;
}

#logo {
  padding-left: 100px;
  float: left;
  border-radius: 15px;
}

#edit {
  float: right;
}

.name {
  float: left;
  margin: 0;
  padding-left: 10px;
}

.job {
  float: left;
  margin: 0;
  padding-left: 10px;
}

.location {
  float: left;
  margin: 0;
  padding-left: 10px;
}
