
.btn-nav {
  background-color: red;
}


.container {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  border: 1px solid black;
}

#profile_photo {
  border-radius: 120px;
  margin-top: 10px;
}

h4 {
  margin-bottom: 25px;
  margin-top: 15px;
}