section.edit_header {
  background-color: #7badd1;
  height: 325px;
}

.container {
  width: 50%;
  height: 160%;
  margin-left: 25%;
  border: 1px solid black;
}

#profile_photo {
  border-radius: 120px;
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  border: 5px solid white;
  margin-right: 25px;
}

h1 {
  color: #eeeeee;
  padding: 1em 0 0 1em;
}

h1#user-full-name {
	padding-top: 10px;
  margin-bottom: 25px;
  color: white;
}

section.header {
	background-color: #7badd1;
	height: 340px;
	padding-bottom: 25px;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.20),0 3px 1px -2px rgba(0,0,0,.20),0 1px 5px 0 rgba(0,0,0,.20);
}


a.btn.btn-lg.btn-success {
	float: top;
	margin-top: 10px;
	margin-right: 10px;
	color:  #efeff5;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.20),0 3px 1px -2px rgba(0,0,0,.20),0 1px 5px 0 rgba(0,0,0,.20);
}

.userlocation {
	color: white;
	font-size: 16px;
}

.user {
	color: white;
	font-size: 16px;
}

.profileemail {
	color: white;
	font-size: 16px;
}

.fa-github {
	font-size: 20px;
	color: white;
}

.fa-linkedin {
	font-size: 20px;
	color: white;
}

.linkedin {
	color: white;
}

.github {
	color: white;
}

.editprofile {
	right: 0;
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	padding-right: 10px;
}

section.profiledetails {
	margin-left: 185px;
}

.fa-envelope {
	padding-bottom: 10px;
	padding-right: 9px;
    font-size: 12px;
}

.fa-map-marker {
	padding-right: 10px;
	padding-bottom: 10px;

}


.fa-user {
padding-bottom: 10px;
padding-right: 10px;
}


.fa-usd {
padding-bottom: 10px;
padding-right: 10px;
}

i#edit_github {
  color: black;
  font-size: 12px;
}


.fa-github {
padding-bottom: 10px;
padding-right: 10px;
}

i#edit_linkedin {
  color: black;
  font-size: 12px;
}

.fa-linkedin {
	padding-right: 10px;
}

div.editprofilecont {
	margin-left: 25px;
	margin-top: 25px;
}

textarea#user_summary {
  margin-left: 25px;
}

.edit_submit {
  text-align: center;

}

.edit-userlocation {
  margin-bottom: 10px;
  border-radius: 5px;

}

input#user_email {
  margin-bottom: 10px;
  border-radius: 5px;
}

select#user_user_type {
  margin-bottom: 10px;
}

input#user_hourly_rate {
  margin-bottom: 10px;
  border-radius: 5px;
}

input#user_git {
  margin-bottom: 10px;
  border-radius: 5px;
}

input#user_city {
   margin-left: 10px;
  border-radius: 5px;

}

input#user_province {
  margin-left: 10px;
  border-radius: 5px;

}

input#user_linked_in {
  border-radius: 5px;

}

input#user_country {
  border-radius: 5px;

}

input#user_first_name {
  border-radius: 5px;
}

input#user_last_name {
  border-radius: 5px;
}

textarea#user_summary {
  border-radius: 5px;
}

.edit_submit input {
  border-radius: 10px;
  border: 3px solid gray;
  background-color: #61D961;
}

.bio {
  padding: 8px;
  float: left;
  width: 100%;
}

.summary {
  padding-top: 8px;
  // top: 2.5em;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

label {
  color: #eeeeee;
}

